<div class="container">

  <div class="content">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Vendas</mat-card-title>
        <!-- <button mat-icon-button><mat-icon class="mat-18">add</mat-icon></button> -->
      </mat-card-header>
      <mat-card-content>
        <!-- <button class="button-cadastrar" mat-raised-button (click)="pesquisarPorData()">Pesquisar por Data</button> -->
        <button class="button-cadastrar" mat-raised-button (click)="adicionarVenda()">Adicionar Venda</button>
      </mat-card-content>

    </mat-card>

  </div>

  <mat-divider></mat-divider>

  <div class="content">
    <app-accordion-vendas></app-accordion-vendas>
  </div>


</div>
