<div class="container">

  <div class="content">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Vendas</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="this.permissionPesquisar">
        <button class="button-cadastrar" mat-raised-button (click)="pesquisarPorData()">Pesquisar por Data</button>
      </mat-card-content>

    </mat-card>

  </div>

  <mat-divider></mat-divider>

  <div class="content">
    <app-accordion-vendas></app-accordion-vendas>
  </div>


</div>
