.container {
  background-image: url("../../../../../assets/img/bg-login.jpg");
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content {
  // height: 100%;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

mat-card-content > button {
  background-color: #138182;
  color: white;
}

.card-header-title {
  border-left: #138182 solid 2px;
  background-color: #770d7c;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 10px 0px 10px 0px;
  width: 100%;
}

mat-card-title {
  padding: 20px;
}

.content-form {
  margin-top: 10px;
  width: 98%;
}

.card-form {
  gap: 20px;
}

.card-header-form > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

form {
  width: 100%;
}

mat-card-actions > button {
  width: 100%;
  background-color: #138182;
  color: white;
}
