<div class="content">
  <h2 class="dialog-title" matDialogTitle>
    <mat-icon>person_add</mat-icon>
    Cadastrar Usuário
  </h2>
  <mat-divider></mat-divider>

  <mat-dialog-content>
    <form [formGroup]="formGroup">

      <mat-form-field appearance="outline">
        <mat-label>Nome completo</mat-label>
        <input type="text" matInput placeholder="Nome do usuário" formControlName="nome">
        <mat-icon matSuffix>badge</mat-icon>
        <mat-error>{{ getErrorMessage('nome') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nome de usuário</mat-label>
        <input type="text" matInput placeholder="username" formControlName="username">
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-error>{{ getErrorMessage('username') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error>{{ getErrorMessage('password') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Permissão</mat-label>
        <mat-select formControlName="roles">
          <mat-option *ngFor="let role of allRoles" [value]="role">{{ role }}</mat-option>
        </mat-select>
        <mat-icon matSuffix>shield</mat-icon>
        <mat-error>{{ getErrorMessage('roles') }}</mat-error>
      </mat-form-field>

    </form>
  </mat-dialog-content>

  <mat-divider></mat-divider>

  <mat-dialog-actions>
    <div class="actions">
      <button mat-raised-button color="primary" (click)="saveUser()" [disabled]="formGroup.invalid || isLoading">
        <mat-progress-spinner *ngIf="isLoading" diameter="18" mode="indeterminate" class="btn-spinner"></mat-progress-spinner>
        <span *ngIf="!isLoading">Cadastrar</span>
      </button>
      <button mat-button color="warn" matDialogClose [disabled]="isLoading">Fechar</button>
    </div>
  </mat-dialog-actions>

</div>
