<div class="container">

  <div class="content-actions">

    <mat-card>
      <mat-card-header>
        <div class="card-header-title">
          <mat-card-title>Elaborar</mat-card-title>
        </div>
        <div class="card-header-icon">
          <mat-icon class="mat-24">shopping_cart</mat-icon>
        </div>

      </mat-card-header>

      <mat-card-content>
        Text content
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="card-header-title">
          <mat-card-title>Elaborar</mat-card-title>
        </div>
        <div class="card-header-icon">
          <mat-icon class="mat-18">shopping_cart</mat-icon>
        </div>

      </mat-card-header>

      <mat-card-content>
        Text content
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="card-header-title">
          <mat-card-title>Elaborar</mat-card-title>
        </div>
        <div class="card-header-icon">
          <mat-icon class="mat-18">shopping_cart</mat-icon>
        </div>

      </mat-card-header>

      <mat-card-content>
        Text content
      </mat-card-content>
    </mat-card>

    <mat-card (click)="usuarios()">

      <mat-card-header>
        <div class="card-header-title">
          <mat-card-title>Usuários</mat-card-title>
        </div>
        <div class="card-header-icon">
          <mat-icon class="mat-18">person</mat-icon>
        </div>
      </mat-card-header>

      <mat-card-content>
        Visualizar Usuários
      </mat-card-content>
    </mat-card>
  </div>

  <mat-divider></mat-divider>

  <div class="content-actions-bottom">

    <mat-card class="content-table-card">
      <mat-card-header>
        <mat-card-title>Hoje, <time>{{date.toLocaleDateString()}}</time></mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content-bottom">
        <div class="grid-item">
          <div class="icon-and-text">
            <mat-icon class="mat-18">paid</mat-icon>
            <h4> &nbsp; {{totalVendido | currency: "BRL"}}</h4>
          </div>
          <span>Valor vendido</span>
        </div>
        <div class="grid-item border-left">
          <div class="icon-and-text">
            <mat-icon class="mat-18">production_quantity_limits</mat-icon>
            <h4> &nbsp; {{produtosVendidos}}</h4>
          </div>
          <span>Produtos vendidos</span>
        </div>
        <div class="grid-item">
          <div class="icon-and-text">
            <mat-icon class="mat-18">real_estate_agent</mat-icon>
            <h4> &nbsp; {{vendasRealizadas}}</h4>
          </div>
          <span>Quantidade de Vendas</span>
        </div>
      </mat-card-content>

    </mat-card>


    <mat-divider></mat-divider>


    <app-accordion-vendas></app-accordion-vendas>


  </div>

</div>
