main {
    width: 150px;
    display: flex;
    justify-content: center;
    // border: 1px solid #C2C9BD;
    span {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
    }
}
