.chip {
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  transition: all .5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  span {
    font-size: 14px;
  }

  &:hover {
    background-color: rgba(197, 200, 185, 0.3);
  }
}
