<mat-sidenav-container>


  <mat-sidenav opened mode="side">

    <div class="container-sidenav">
      <div class="content-actions-sidenav">

        <div class="img">
          <img src="../../../assets/img/logo.jpeg" alt="">
        </div>

        <mat-list>

          <mat-divider class="dividerMenuSidenav"></mat-divider>
          <mat-list-item routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon matListItemIcon>dashboard</mat-icon>
            <div matListItemTitle class="titleMenu">Dashboard</div>
          </mat-list-item>

          <!-- <mat-divider class="dividerMenuSidenav"></mat-divider> -->

          <!-- <mat-list-item routerLink="adicionarVenda" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon matListItemIcon>add</mat-icon>
            <div matListItemTitle class="titleMenu">Adicionar Venda</div>
          </mat-list-item> -->

          <mat-divider class="dividerMenuSidenav"></mat-divider>

          <mat-list-item routerLink="adicionarVenda/visualizarVenda" routerLinkActive="active">
            <mat-icon matListItemIcon>real_estate_agent</mat-icon>
            <div matListItemTitle class="titleMenu">Vendas</div>
          </mat-list-item>

          <mat-divider class="dividerMenuSidenav"></mat-divider>

          <mat-list-item routerLink="graficos" routerLinkActive="active">
            <mat-icon matListItemIcon>equalizer</mat-icon>
            <div matListItemTitle class="titleMenu">Graficos</div>
          </mat-list-item>

          <mat-divider class="dividerMenuSidenav"></mat-divider>

          <mat-list-item routerLink="usuarios" routerLinkActive="active">
            <mat-icon matListItemIcon>person</mat-icon>
            <div matListItemTitle class="titleMenu">Usuários</div>
          </mat-list-item>

          <!-- <mat-divider class="dividerMenuSidenav"></mat-divider> -->

          <!-- <mat-list-item routerLink="minhasInformacoes" routerLinkActive="active">
            <mat-icon matListItemIcon>informations</mat-icon>
            <div matListItemTitle class="titleMenu">Minhas Informações</div>
          </mat-list-item> -->

          <mat-divider class="dividerMenuSidenav"></mat-divider>

          <mat-list-item>
            <mat-icon matListItemIcon>logout</mat-icon>
            <div matListItemTitle class="titleMenu" (click)="logout()">Sair</div>
          </mat-list-item>
          <mat-divider class="dividerMenuSidenav"></mat-divider>
        </mat-list>
      </div>
    </div>
  </mat-sidenav>

  <router-outlet></router-outlet>

</mat-sidenav-container>

<!-- <mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <div class="container-sidenav">
      <div class="content-actions-sidenav">

        <div class="img">
          <img src="../../../assets/img/logo.jpeg" alt="Imagem da logo da loja">
        </div>

        <mat-list>
          <mat-list-item routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon matListItemIcon>dashboard</mat-icon>
            <div matListItemTitle class="titleMenu">Dashboard</div>
          </mat-list-item>

          <mat-list-item routerLink="adicionarVenda" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon matListItemIcon>add</mat-icon>
            <div matListItemTitle class="titleMenu">Adicionar Venda</div>
          </mat-list-item>

          <mat-list-item routerLink="adicionarVenda/visualizarVenda" routerLinkActive="active">
            <mat-icon matListItemIcon>real_estate_agent</mat-icon>
            <div matListItemTitle class="titleMenu">Pesquisar Venda</div>
          </mat-list-item>

          <mat-list-item routerLink="graficos" routerLinkActive="active">
            <mat-icon matListItemIcon>equalizer</mat-icon>
            <div matListItemTitle class="titleMenu">Graficos</div>
          </mat-list-item>

          <mat-list-item routerLink="usuarios" routerLinkActive="active">
            <mat-icon matListItemIcon>person</mat-icon>
            <div matListItemTitle class="titleMenu">Usuários</div>
          </mat-list-item>

          <mat-list-item>
            <mat-icon matListItemIcon>logout</mat-icon>
            <div matListItemTitle class="titleMenu" (click)="logout()">Sair</div>
            </mat-list-item>
        </mat-list>
      </div>
    </div>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->
