mat-sidenav-container {
  width: 100%;
  height: 100%;
}

img {
  width: 100px;
}

mat-sidenav {
  width: 18%;
  background-color: #138182;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  display: flex;
  align-items: flex-end;
}

.center {
  margin-left: -35px;
  flex: 1;
  text-align: center;
}

.container-sidenav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-actions-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

mat-list {
  width: 80%;
  color: white;
}

.dividerMenuSidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  width: 90%;
}

.titleMenu {
  color: white;
  cursor: pointer;
}

.active {
  border-left: #770d7c solid 4px;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 400px;
  color: white;
}

mat-list-item {
  border-radius: 5px !important;
 }

@media only screen and (max-width: 600px) {
  mat-sidenav {
      width: 14%; /* Ou o tamanho desejado em pixels */
  }
  .img {
    display: none;
  }
}
