@import "../../../assets/styles/colors.scss";

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  position: relative;
  border-bottom: 1px solid #B5B4B2;

  .openMenu {
    display: none;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo transparente */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
    animation: slideIn 0.3s forwards;

    .menu-content {
      width: 100%;
      /* largura do menu */
      height: 100%;
      background-color: #f7fbf2;
      transform: translateX(-100%);
      /* Posição inicial fora da tela */
      animation: slideInContent 0.3s forwards;
      padding: 24px;
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: start;
      // align-items: center;

      .logo {
        display: flex;
        // justify-content: center;
        align-items: center;
        padding: 20px 0px;
        cursor: pointer;

        span {
          cursor: pointer;
        }

      }

      .itens-menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

    }

    .item-help {

      .active {
        background-color: $color-primary;
        color: $color-white;
        border-radius: 8px;


        &:hover {
          color: $color-white;
        }
      }

      width: 200px;
      border-radius: 8px;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      transition: all .5s;

      a {
        width: Fill (222px)px;
        height: 16px;
        padding: 16px 24px 16px 16px;
        gap: 12px;
        opacity: 0px;

        display: flex;
        align-items: center;
        text-decoration: none;

        color: $color-black;
        transition: all .5s;

        span {
          width: 20px;
          height: 20px;
        }

        .item-description {
          font-size: 12px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0.5px;
          text-align: left;
        }

        &:hover {
          color: $color-black;
        }
      }

      &:hover {
        background: #BAF0B6;
      }

    }

    .close {
      cursor: pointer;
      font-size: 24px;
      position: absolute;
      top: 60px;
      right: 20px;
    }
  }

  .title {
    h2 {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.15px;
      text-align: left;
    }
  }

  .final {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    .divider-vertical {
      width: 1px;
      height: 24px;
      background-color: #B5B4B2;
    }

    .user {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      img {
        border: solid 4px #FFD200;
        border-radius: 100px;
      }
    }
  }

  .user-detail {
    position: absolute;
    background-color: $color-off-white;
    width: 145px;
    top: 75px;
    right: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s;
    z-index: 99999;
    border-radius: 10px;

    .item {
      cursor: pointer;
      padding: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: all 0.5s;

      &:hover {
        border-radius: 10px;
        background-color: $color-primary;
      }
    }
  }

  .pointer {
    cursor: pointer;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slideInContent {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }

  // Media queries para ajustar conforme a largura da tela
  @media (max-width: 1000px) {
    .openMenu {
      display: block;
      cursor: pointer;
    }

    .items {
      list-style: none;
      width: 100%;

      li {
        border-radius: 8px;
        margin-bottom: .3rem;
        transition: all .5s;

        a {
          // width: Fill (222px)px;
          height: 16px;
          padding: 16px;
          gap: 12px;
          opacity: 0px;

          display: flex;
          align-items: center;
          text-decoration: none;
          transition: all .5s;

          color: $color-black;

          span {
            width: 20px;
            height: 20px;
          }

          .item-description {
            font-size: 12px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.5px;
            text-align: left;
          }

          &:hover {
            // color: $color-primary !important;
          }
        }

        .selected {
          background-color: $color-primary;
          border-radius: 8px;
          color: $color-black;


          &:hover {
            // color: $color-black !important;
          }

        }

        &:hover {
          background: #BAF0B6;
        }
      }

      .li_close {
        width: 56px;
      }
    }

    .pointer,
    .divider-vertical,
    .nome-usuario,
    .none {
      display: none;
    }
  }
}

// Media queries para ajustar conforme a largura da tela
@media (max-width: 1000px) {
  main {
    padding: 16px 12px;
  }
}
