<main>
  <div class="openMenu" (click)="abrirMenu()">
    <span class="material-symbols-outlined">
      menu
    </span>
  </div>

  @if(isMenu) {
  <div class="menu">
    <div class="menu-content">
      <span class="material-symbols-outlined close" (click)="abrirMenu()">close</span>
      <div class="logo">
        <img src="../../../assets/images/image-menu.png" alt="" srcset="">
      </div>
      <div class="itens-menu">
        <ul class="items">
          @for(item of menu; track item){
          <li class="item" [ngClass]="{li_close: !isOpen}">
            <a href="" [ngClass]="{selected: item.checked}" [routerLink]="item.route" (click)="abrirMenu()">
              <span class="material-symbols-outlined">
                {{item.icon}}
              </span>
              <div class="item-description" [ngClass]="{item_description_close: !isOpen}">{{item.label}}</div>
            </a>
          </li>
          }

        </ul>
        <div class="item-help" [style.width]="'100%'">
          <a [routerLink]="['/admin/']" (click)="abrirMenu()" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{exact : true}" [style.color]="'#000'">
            <span class="material-symbols-outlined">
              help
            </span>
            <div class="item-description">Ajuda</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  }

  <div class="title">
    <h2>{{title | async}}</h2>
  </div>


  <div class="final">

    <span class="material-symbols-outlined pointer">
      notifications
    </span>
    <div class="divider-vertical"></div>
    <div class="user pointer" (click)="showHideDetail()">
      <!-- <img src="assets/images/3d_avatar_21.png" alt="avatar"> -->
      <tgt-perfil></tgt-perfil>
      <label class="nome-usuario">{{nameUser}}</label>
      @if(isDetail) {
      <span class="material-symbols-outlined none">
        expand_less
      </span>
      } @else {
      <span class="material-symbols-outlined none">
        keyboard_arrow_down
      </span>

      }
    </div>
  </div>
  @if(isDetail) {

  <div class="user-detail">
    <div class="item perfil" (click)="visualizarPerfil()">
      <span class="material-symbols-outlined">
        person_4
      </span>
      <span class="label">Perfil</span>
    </div>
    <div class="item logout" (click)="logout()">
      <span class="material-symbols-outlined">
        logout
      </span>
      <span class="label">Sair</span>
    </div>
  </div>
  }

</main>
