.container {
  background-color: #f6f8fa;
  // background-image: url("../../../assets/img/bg-login.jpg");
  height: 100%;
  width: 100%;
  // opacity: 1.9;
}

.content {
  height: 100%;
  width: 100%;
}

.content,
mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

mat-card {
  width: 30%;
  height: auto;
  padding: 20px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 8px !important;
  width: 100%; /* Garante que a imagem se ajuste ao contêiner */
  height: 100%; /* Adicione essa linha */
}

mat-card-content {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

mat-card > mat-card-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 0;
}

button {
  width: 100%;
}

mat-divider {
  width: 100%;
}

mat-card-actions > button {
  background-color: #770d7c;
  color: white;
}

@media only screen and (max-width: 600px) {
  mat-card {
    width: 90%; /* Ou o tamanho desejado em pixels */
  }
}
