<div class="container">
  <div class="content">

    <mat-card class="mat-card mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>
          <p>Gráficos</p>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button class="button-cadastrar" mat-raised-button (click)="pesquisarPorData(false)">Pesquisar por Data</button>
      </mat-card-content>
    </mat-card>

    <div class="progress">
      <mat-divider></mat-divider>
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </div>

    <div class="graficos">

      <div class="imagem-fundo" *ngIf="this.imagem">
        <mat-spinner></mat-spinner>
      </div>

      <div class="graficoBar">

        <div class="divGraficoBar">
          <canvas #graficoBar></canvas>
        </div>

        <div class="divInformacoesGraficoBar" *ngIf="this.isCard">

          <mat-card class="dinheiro">
            <h4>Dinheiro</h4>
            <mat-divider></mat-divider>
            <br>
            <h4>{{this.valoresGraficoBarras[0] | currency: 'BRL'}}</h4>
          </mat-card>
          <mat-card class="pix">
            <h4>PIX</h4>
            <mat-divider></mat-divider>
            <br>
            <h4>{{ " " + this.valoresGraficoBarras[1] | currency: 'BRL'}}</h4>
          </mat-card>
          <mat-card class="debito">
            <h4>Cartão de Débito</h4>
            <mat-divider></mat-divider>
            <br>
            <h4>{{this.valoresGraficoBarras[2] | currency: 'BRL'}}</h4>
          </mat-card>
          <mat-card class="credito">
            <h4>Cartão de Crédito</h4>
            <mat-divider></mat-divider>
            <br>
            <h4>{{this.valoresGraficoBarras[3] | currency: 'BRL'}}</h4>
          </mat-card>

          <mat-card class="valotTotal">

            <h4>Total Vendido</h4>
            <mat-divider></mat-divider>
            <br>
            <h4>{{this.valoresGraficoBarras[0] + this.valoresGraficoBarras[1] + this.valoresGraficoBarras[2]
              +this.valoresGraficoBarras[3] | currency: "BRL"}}</h4>
          </mat-card>
        </div>

      </div>

      <div class="graficoPizza">

        <div class="divGraficoDoughnut">
          <canvas #graficopizza></canvas>
        </div>

        <div class="divInformacoesGraficoPizza" *ngIf="this.isCard">

          <div class="quantidadeVendas">
            <h1>Quantidade de Vendas</h1>
          </div>

          <mat-card class="dinheiro">
            <h4>Dinheiro</h4>
            <mat-divider></mat-divider>
            <br>
            <h4>{{this.valoresGraficoPizza[0]}}</h4>
          </mat-card>
          <mat-card class="pix">
            <h4>PIX</h4>
            <mat-divider></mat-divider>
            <br>
            <h4>{{this.valoresGraficoPizza[1]}}</h4>
          </mat-card>
          <mat-card class="debito">
            <h4>Cartão de Débito</h4>
            <mat-divider></mat-divider>
            <br>
            <h4>{{this.valoresGraficoPizza[2]}}</h4>
          </mat-card>
          <mat-card class="credito">
            <h4>Cartão de Crédito</h4>
            <mat-divider></mat-divider>
            <br>
            <h4>{{this.valoresGraficoPizza[3]}}</h4>
          </mat-card>
        </div>
      </div>



    </div>

  </div>
</div>
