.container {
  // background-image: url("../../../../../assets/img/bg-login.jpg");
  background-color: #f6f8fa;
  width: 100%;
  height: 100%;
}

.content {
  // height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}


.mat-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-left: #138182 solid 2px;
  background-color: #770d7c;
  // box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 10px 0px 10px 0px;
  width: 98%;
  height: auto  ;
}

mat-card-title {
  padding: 20px;
}

mat-card-content > button {
  background-color: #138182;
  color: white;
}

.graficos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  // border-left: #138182 solid 2px;
  // background-color: #770d7c;
  // box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  // color: white;
  margin: 10px 0px 10px 0px;
  width: 98%;
  height: auto;
  overflow-y: scroll;
  // align-items: center; /* Adicionei align-items para centralizar verticalmente */
}

.content-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.graficoBar {
  min-width: 800px;
}

.graficoPizza {
  min-width: 400px;
}

