<mat-card class="card-table mat-elevation-z8">
  <mat-form-field>
    <mat-label>Pesquisar Venda</mat-label>
    <input matInput (input)="pesquisar($event)" placeholder="Ex: Brinco" #input>
  </mat-form-field>


  <div class="progress">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </div>

  <table mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="produto">
      <th mat-header-cell *matHeaderCellDef> Produto </th>
      <td mat-cell *matCellDef="let element"> {{element.nomeProduto}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef> Preço </th>
      <td mat-cell *matCellDef="let element"> {{element.preco | currency: "BRL"}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="quantidade">
      <th mat-header-cell *matHeaderCellDef> Quantidade </th>
      <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let element"> {{element.total | currency: "BRL"}} </td>
    </ng-container>

    <ng-container matColumnDef="pagamento">
      <th mat-header-cell *matHeaderCellDef> Forma Pagamento </th>
      <td mat-cell *matCellDef="let element"> {{element.formaPagamento}} </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element"> <button mat-icon-button color="accent" (click)="editVenda(element)">
          <mat-icon class="mat-18">edit</mat-icon>
        </button> </td>
    </ng-container>

    <ng-container matColumnDef="deletar">
      <th mat-header-cell *matHeaderCellDef> Deletar </th>
      <td mat-cell *matCellDef="let element"> <button mat-icon-button color="warn" (click)="deleteVenda(element)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsTable"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsTable;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Sem vendas cadastradas no momento</td>
    </tr>
  </table>
</mat-card>
<!-- <mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
    *ngFor="let venda of dataSource">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{venda.nomeProduto}}
      </mat-panel-title>
      <mat-panel-description>
        {{venda.total | currency: "BRL"}}
      </mat-panel-description>

    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item><strong>Produto:</strong> {{venda.nomeProduto}}</mat-list-item>
      <mat-list-item><strong>Preço:</strong> {{venda.preco | currency: "BRL"}}</mat-list-item>
      <mat-list-item><strong>Quantidade:</strong> {{venda.quantidade}}</mat-list-item>
      <mat-list-item><strong>Total:</strong> {{venda.total | currency: "BRL"}}</mat-list-item>
      <mat-list-item><strong>Pagamento:</strong> {{venda.formaPagamento}}</mat-list-item>
      <mat-list-item><strong>Criado:</strong> {{venda.createAt | date : "dd/MM/yyyy"}}</mat-list-item>
      <mat-list-item><strong>Editado:</strong> {{venda.updateAt | date : "dd/MM/yyyy"}}</mat-list-item>
    </mat-list>
    <div class="actions">
      <button mat-icon-button color="accent" (click)="editVenda(venda)">
          <mat-icon class="mat-18">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteVenda(venda)">
        <mat-icon class="mat-18">delete</mat-icon>
    </button>
    </div>
  </mat-expansion-panel>
</mat-accordion> -->
