/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto Mono" !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
table {
  font-family: "Roboto Mono" !important;
}

:root {
  --primary-color: #770d7c;
  --secondary-color: #138182;
  --white-color: #fff;
  --warning-color: #dbb40c;
  --success-color: #198754;
  --delete-color: #dc3545;
  --background-color: #f2f2f2;
  --black-color: #00022e;
}

.success {
  --mdc-snackbar-container-color: var(--primary-color);
  --mat-mdc-snack-bar-button-color: var(--white-color);
}

.error {
  --mdc-snackbar-container-color: var(--delete-color);
  --mat-mdc-snack-bar-button-color: var(--white-color);
}

.warning {
  --mdc-snackbar-container-color: var(--warning-color);
  --mat-mdc-snack-bar-button-color: var(--white-color);
}

.secondary {
  --mdc-snackbar-container-color: var(--secondary-color);
  --mat-mdc-snack-bar-button-color: var(--white-color);
}

