main {
    width: 170px;

    span {
      font-size: 14px;
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      overflow-wrap: break-word;
      word-break: break-all;
    }
}

@media (max-width: 1000px) {
  main {
    width: 50px;

    span {
      font-size: 10px;

    }
  }
}


