<div class="content">
  <h2 class="dialog-title" matDialogTitle>
    <mat-icon>edit</mat-icon>
    Editar Usuário
  </h2>
  <mat-divider></mat-divider>

  <mat-dialog-content>
    <form [formGroup]="formGroup">

      <mat-form-field appearance="outline">
        <mat-label>Nome completo</mat-label>
        <input matInput formControlName="nome">
        <mat-icon matSuffix>badge</mat-icon>
        <mat-error>{{ getErrorMessage('nome') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nome de usuário</mat-label>
        <input matInput formControlName="username">
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-error>{{ getErrorMessage('username') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Permissão</mat-label>
        <mat-select formControlName="roles">
          <mat-option *ngFor="let role of allRoles" [value]="role">{{ role }}</mat-option>
        </mat-select>
        <mat-icon matSuffix>shield</mat-icon>
        <mat-error>{{ getErrorMessage('roles') }}</mat-error>
      </mat-form-field>

    </form>
  </mat-dialog-content>

  <mat-divider></mat-divider>

  <mat-dialog-actions>
    <div class="actions-container">
      <div class="main-actions">
        <button mat-raised-button color="primary" (click)="updateUser()" [disabled]="formGroup.invalid || isLoading">
          <mat-progress-spinner *ngIf="isLoading" diameter="18" mode="indeterminate" class="btn-spinner"></mat-progress-spinner>
          <span *ngIf="!isLoading">Salvar</span>
        </button>
        <button mat-button matDialogClose [disabled]="isLoading">Cancelar</button>
      </div>
      <button mat-raised-button color="warn" (click)="deletarUser()" [disabled]="isLoading">
        <mat-icon>delete</mat-icon>
        Excluir
      </button>
    </div>
  </mat-dialog-actions>
</div>
